{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="https://hayesinstruments.com/HayesLogo.ico">
    {% block stylesheet %}{% endblock stylesheet %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="header">
        <a href="{% url 'authentication:home' %}">
            <img class="image" height="94" width="532" src="https://hayesinstruments.com/images/HayesLetterhead.gif"
                alt="Hayes Instrument Service">
        </a>
        {% if request.user.is_authenticated %}
        <div class="user">Hello, {{ request.user.username }}</div>
        {% endif %}
    </div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>


</body>

</html>