{% extends "authentication_base_template.html" %}
{% load static %}

{% block other_stylesheets %}
    <link rel="stylesheet" href="{% static "home.css" %}" />
{% endblock other_stylesheets %}

{% block title %}Inventory Database{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}     
        <p><a href="{% url "inventory:items" %}">Browse available items.</a></p>
        {% if user_group.name == 'Superuser' %}
        <p><a href="{% url "inventory:item_create_form" %}">Create New Item</a></p>
        {% endif %}

        <form action="{% url 'logout' %}" method="post"> {% csrf_token %}
            <button type="submit">Log out</button>
        </form>        
    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to see the database.</p>
    {% endif %}
{% endblock %}