{% extends "authentication_base_template.html" %}
{% load static %}

{% block other_stylesheets %}
    <link rel="stylesheet" href="{% static "home.css" %}" />
{% endblock other_stylesheets %}

{% block title %}Inventory Database{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
    <h1>Items</h1>
        <p><a href="{% url "inventory:items" %}">Browse available items</a></p>
        <p><a href="{% url "inventory:used_items" %}">Browse used items</a></p>

        {# Technician / Superuser only links #}
        {% if user_group.name == 'Technician' or user_group.name == 'Superuser' %}

        <p>
            {% if user_group.name == 'Superuser' %}
            <a href="{% url "inventory:item_create_form_superuser" %}">
            {% else %}
            <a href="{% url "inventory:item_create_form_technician" %}">
            {% endif %}
            Create New Item
        </a></p>
        <a href="{% url "inventory:import_item_data" %}">Import Item Data</a>
    <h1>Item Requests</h1>
        <p><a href="{% url "inventory:item_requests" %}">Browse Item Requests</a></p>

        {# Superuser only links #}
        {% if user_group.name != 'Technician' %} 
        <p><a href="{% url "inventory:purchase_order_form" %}" target="_blank">Make a Purchase Order</a></p>
    <h1>Users</h1>
            <p><a href="{% url "authentication:user_create_form" %}">Create New User</a></p>
            <p><a href="{% url "authentication:users" %}">See All Users</a></p>
            {% endif %}
        {% endif %}

        <form action="{% url 'logout' %}" method="post"> {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
    {% else %}
        <p>Please <a href="{% url 'authentication:login' %}">log in</a> to see the database.</p>
    {% endif %}
{% endblock %}