{% extends "authentication_base_template.html" %}
{% load static %}

{% block other_stylesheets %}

{% endblock other_stylesheets %}

{% block title %}{% endblock title %}

{% block page-title %}{% endblock page-title %}

{% block content %}
{# TODO: Notifications Page #}
This is the Notifications page.
{% if notifications_list %}
I don't know how to display the notifications yet.
{# TODO: Clickable rows to notification details? #}
{# TODO: Button for deleting notifications #}
<table>
    <tr>
        <th>Date & Time</th>
        <th>Subject</th>
        <th>Message</th>
    </tr>
    {% for notification in notifications_list %}
    <tr>
        <td>{{ notification.timestamp }}</td>
        <td>{{ notification.subject }}</td>
        <td>{{ notification.message|safe }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
There are no notifications.
{% endif %}
{% endblock content %}