{% extends "authentication_base_template.html" %}
{% load static %}

{% block other_stylesheets %}

{% endblock other_stylesheets %}

{% block title %}Notifications{% endblock title %}

{% block page-title %}Notifications{% endblock page-title %}

{% block content %}
{% if notifications_list %}
{# TODO: Clickable rows to notification details? #}
{# TODO: Button for marking notifications as read #}
{# TODO: Button for deleting notifications #}
<table>
    <tr>
        <th>Date & Time</th>
        <th>Subject</th>
        <th>Message</th>
    </tr>
    {% for notification in notifications_list %}
    <tr>
        <td>{{ notification.timestamp }}</td>
        <td>{{ notification.subject }}</td>
        <td>{{ notification.message|safe }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no notifications.</p>
{% endif %}
{% endblock content %}