{% extends "authentication_base_template.html" %}
{% load static %}

{% block other_stylesheets %}

{% endblock other_stylesheets %}

{% block title %}Notifications{% endblock title %}

{% block page-title %}Notifications{% endblock page-title %}


{% block content %}
{% if notifications_list %}
{# TODO: Button for marking notifications as read #}
{# TODO: Button for deleting notifications #}
<div id="responseMessage"></div>
<table>
    <tr>
        <th>Read</th>
        <th>Date & Time</th>
        <th>Subject</th>
        <th>Message</th>
    </tr>
    {% for notification in notifications_list %}
    <tr id="notification-{{ notification.id }}" {% if not notification.is_read %}style="font-weight: bold;"{% endif %}>
        <td>{{ notification.timestamp }}</td>
        <td>{{ notification.subject }}</td>
        <td>{{ notification.message|safe }}</td>
        <td>
            <button type="button">           
            {% if notification.is_read %}
                Mark as Unread
            {% else %}
                Mark as Read
            {% endif %}             
            </button>       
        </td>
        <td>
            <button type="button" onclick="window.location.href='{% url "authentication:notification_confirm_delete" notification.id %}'"></button>
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p>There are no notifications.</p>
{% endif %}
{% endblock content %}