{% extends "authentication_base_template.html" %}
{% load static %}

{% block other_stylesheets %}
<link rel="stylesheet" href="{% static "user_detail.css" %}" />
{% endblock other_stylesheets %}

{% block title %}
{{ user.last_name }}, {{ user.first_name }}
| Inventory Database
{% endblock title %}

{% block page-title %}{{ user.last_name }}, {{ user.first_name }}{% endblock page-title %}

{% block content %}
<table>
    <tr class="username">
        <th>Username</th><td>{{ user.username }}</td>
    </tr>
    <tr class="first_name">
        <th>First Name</th><td>{{ user.first_name }}</td>
    </tr>
    <tr class="last_name">
        <th>Last Name</th><td>{{ user.last_name }}</td>
    </tr>
    <tr class="email">
        <th>Email</th><td>{{ user.email }}</td>
    </tr>
    <tr class="user_group">
        <th>User Group</th><td>{{ user_detail_group_name }}</td>
    </tr>
</table>
<div class="buttons">
    <button type="button" onclick="window.location.href='{% url "authentication:users" %}'">Back</button>
    {# TODO: Update User functionality #}
    <button type="button" onclick="window.location.href='{% url "authentication:user_update_form" user.id %}'">Update</button>
</div>
<div class="buttons danger-zone">
    <button onclick="window.location.href='{% url "authentication:user_confirm_delete" user.id %}'">Delete</button>
</div>
{% endblock content %}