{% extends "authentication_base_template.html" %}
{% load static %}
{% load custom_filters %}

{% block other_stylesheets %}
<link rel="stylesheet" href="{% static "user_create_form.css" %}" />
{% endblock other_stylesheets %}

{% block title %} New User Form  {% endblock title %}

{% block page-title %} Create New User {% endblock page-title %}

{% block content %}
<form method="post"> {% csrf_token %}
    <fieldset>
        {% for field in form %}
        <div class="field {{ field.name }}">
            {{ field.label_tag }}
            {{ field }}

            {% if field.errors %}
            <div class="error">
                {{ field.errors }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <div class="field user-group">
            <label for="user_group">User Group:</label>
            <select name="user_group" id="user_group">
                {% for group in groups %}
                <option value="{{ group.name }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
    <div class="buttons">
        <button type="button" onclick="window.location.href='{% url "authentication:home" %}'">Cancel</button>
        <input type="submit" value="Create User">
    </div>
    
</form>
{% endblock content %}