body {
    font-family: arial, sans-serif;
}

div.header {
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
    align-items: center;
}

div.user {
    background-color: pink;
}

div.page-title {
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1em;
}