body {
    font-family: arial, sans-serif;
    text-align: center;
}

div.header {
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
    align-items: center;    
}

div.user {
    background-color: pink;
}