{% extends "authentication_base_template.html" %}

{% load static %}

{% block other_stylesheets %}
<link rel="stylesheet"  type="text/css" href="{% static 'login.css' %}" />
{% endblock other_stylesheets %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<div class="page-title">Log In</div>

{% if messages %}
    <ul class="error-messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post"> {% csrf_token %} 
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <fieldset>
        <label for="username">
        Username <input type="text" id="username" name="username" placeholder="username" required />
        </label>
        <label for="password">
        Password <input type="password" id="password" name="password" placeholder="password" required />
        </label>
    </fieldset>
    <input type="submit" value="Log In">
</form>
<p>Forgot your password? (Coming Soon)</p>
{% endblock content %}