{% extends "inventory_base_template.html" %}
{% load static %}

{% block other_stylesheets %}
<link rel="stylesheet" href="{% static "item_form.css" %}" />
<link rel="stylesheet" href="{% static "item_use_form.css" %}" />
{% endblock other_stylesheets %}


{% block title %}Using {{ item }} {% endblock title %}

{% block page-title %}Using {{ item }}{% endblock page-title %}

{% block content %}
<form method="post"> {% csrf_token %}
    <table>
        {% if form.non_field_errors %}
        <tr>
            <td colspan="2">
                <div class="form-errors">
                    {{ form.non_field_errors }}
                </div>
            </td>
        </tr>
        {% endif %}
        {% for field in form %}
        <tr>
            <th>{{ field.label_tag }}</th>
            <td>
                {{ field }}
                {% if field.errors %}
                <div class="field-errors">
                    {{ field.errors }}
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>    
    <div class="buttons">
        <button type="button" onclick="window.location.href='{% url "authentication:home" %}'">Cancel</button>
        <input type="submit" value="Save">
    </div>
</form>

<!-- Include jQuery and Select2 -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- Initialize Select2 for the item dropdown -->
  
<script>
    $(document).ready(function() {
        $('#id_item').select2({
            width: '400px',
            placeholder: 'Please select an item',
            allowClear: false
        });
        $('#id_used_by').select2({
            width: '200px',
            placeholder: 'Please select the user using this item',
            allowClear: false
        });
    });
</script> 


{% endblock content %}