{% extends "inventory_base_template.html" %}
{% load static %}

{% block other_stylesheets %}
<link rel="stylesheet" href="{% static "item_request_detail.css" %}" />
{% endblock other_stylesheets %}

{% block title %}{{ itemrequest }} {% endblock title %}

{% block page-title %}{{ itemrequest }}{% endblock page-title %}

{% block content %}

{% if itemrequest%}
<table>
    <tr class="field requested_by">
        <th>Requested by:</th>
        <td>{{ itemrequest.requested_by }}</td>
    </tr>
    <tr class="field timestamp">
        <th>Date & Time:</th>
        <td>{{ itemrequest.timestamp }}</td>
    </tr>
    <tr class="field status"
        {% if itemrequest.status == "Pending" %}
        style="background-color:rgba(255, 255, 100, 0.5)"
        {% elif itemrequest.status == "Accepted" %}
        style="background-color:rgba(100, 255, 100, 0.5)"
        {% else %}
        style="background-color:rgba(255, 100, 100, 0.5)"
        {% endif %}     
    >
        <th>Status:</th>
        <td>{{ itemrequest.status }}</td>
    </tr>
    <tr class="field manufacturer">
        <th>Manufacturer:</th>
        <td>{{ itemrequest.manufacturer }}</td>
    </tr>
    <tr class="field model_part_num">
        <th>Model / Part #:</th>
        <td>{{ itemrequest.model_part_num }}</td>
    </tr>
    <tr class="field description">
        <th>Description:</th>
        <td>{{ itemrequest.description }}</td>
    </tr>
    <tr class="field quantity_requested">
        <th>Quantity requested:</th>
        <td>{{ itemrequest.quantity_requested }}</td>
    </tr>
    <tr class="field unit_price">
        <th>Unit price:</th>
        <td>{{ itemrequest.unit_price }}</td>
    </tr>
</table>
<div class="buttons set1">
    <button type="button" onclick="window.location.href='{% url "inventory:item_requests" %}'">Back to Item Requests</button>
{# TODO: Item request buttons for the requesting user #}
{% if request.user == itemrequest.requested_by %}
    {# [ ]: Delete button for requesting user #}
    <button type="button" name="delete" onclick="window.location.href='{% url "inventory:item_request_confirm_delete" itemrequest.id %}'">Delete</button>
{% endif %}
{% if current_user_group_name == "Superuser" %}
</div><div class="buttons set2">
    <button type="button" name="reject" onclick="window.location.href='{% url "inventory:item_request_confirm_reject" itemrequest.id %}'">Reject</button>
    <button type="button" name="accept" onclick="window.location.href='{% url "inventory:item_request_confirm_accept" itemrequest.id %}'">Accept</button>
{% endif %}
</div>
{% else %}
There's no information. Something must have gone wrong on our end.
{% endif %}
{% endblock content %}