{% extends "inventory_base_template.html" %}
{% load static %}

{% block other_stylesheets %}
<link rel="stylesheet" href="{% static "item_history.css" %}" />
{% endblock other_stylesheets %}

{% block title %}Item History | {{ item }}{% endblock title %}

{% block page-title %}{{ item }} - Item History{% endblock page-title %}

{% block content %}
<div class="button-container">
    <button type="button" onclick="window.location.href='{% url 'inventory:item_detail' item.id %}'">Back to Item Details</button>
</div>
<table>
    <thead>
        <tr>
            <th>Action</th>
            <th>Timestamp</th>
            <th>User</th>
            <th>Changes</th>
        </tr>
    </thead>
    <tbody>
        {% for history in item_history_list %}
        <tr>
            <td class="col action">{{ history.get_action_display }}</td>
            <td class="col timestamp">{{ history.timestamp }}</td>
            <td class="col user"><a href="{% url 'authentication:user_details' history.user.id %}">{{ history.user }}</a></td>
            <td class="col changes">{{ history.changes|safe }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}