{% extends "inventory_base_template.html" %}
{% load static %}

{% block other_stylesheets %}
{% comment %} <link rel="stylesheet" href="{% static "item_form.css" %}" /> {% endcomment %}
<link rel="stylesheet" href="{% static "item_request_form.css" %}" />
{% endblock other_stylesheets %}

{% block title %}Item Request Form {% endblock title %}

{% block page-title %}Item Request Form{% endblock page-title %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <table>
    {% for field in form %}
        {% if field.errors %}
        <div class="error">
            {{ field.label }}: {{ field.errors }}
        </div>
        {% endif %}
        <tr>
            <th>{{ field.label }}</th>
            <td>
                {% if field.name == 'description' %}
                <textarea name="description" cols="40" rows="10" id="id_description">{{ field.value }}</textarea>
                {% else %}
                {{ field }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    <div class="buttons">
        {% if item %}
        <button type="button" onclick="window.location.href='{% url "inventory:item_detail" pk=item.pk %}'">Cancel</button>
        {% else %}
        <button type="button" onclick="window.location.href='{% url "authentication:home" %}'">Cancel</button>
        {% endif %}
        <input type="submit" value="Request Item">
    </div>
</form>

<!-- Include jQuery and Select2 -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- Initialize Select2 for the item dropdown -->  
<script>
    $(document).ready(function() {
        $('#id_requested_by').select2({
            width: '200px',
            placeholder: 'Please select the user using this item',
            allowClear: false,
        });
    });
</script> 
{% endblock content %}