{% extends "inventory_base_template.html" %}
{% load static %}

{% block other_stylesheets %}
<link rel="stylesheet" href="{% static "item_detail.css" %}" />
{% endblock other_stylesheets %}

{% block title %}Used Item Detail{% endblock title %}

{% block page-title %}{{ used_item }}{% endblock page-title %}

{% block content %}
{% if used_item %}
    <table>
        <tr>
            <th>Work Order:</th>
            <td>{{ used_item.work_order }}</td>
        </tr>
        <tr>
            <th>Item:</th>
            <td><a href="{% url "inventory:item_detail" used_item.item.id %}">{{ used_item.item }}</a></td>
        </tr>
        <tr>
            <th>Date & Time used:</th>
            <td>{{ used_item.datetime_used }}</td>
        </tr>
        <tr>
            <th>Used by:</th>
            <td><a href="{% url "authentication:user_details" used_item.used_by.id %}">{{ used_item.used_by }}</a></td>
        </tr>
    </table>
{% else %}
    <p>There's no information available.</p>
{% endif %}
<div class="buttons">
    <button class="back" onclick="window.location.href='{% url "inventory:used_items" %}'">Back to Used Items</button>
    {# TODO: Test delete button #}
    <button class="delete" onclick="window.location.href='{% url "inventory:used_item_confirm_delete" %}'">Delete</button>
</div>

{% endblock content %}