{% extends "inventory_base_template.html" %}
{% load static %}

{% block other_stylesheets %}
<link rel="stylesheet" href="{% static "items.css" %}" />
{% endblock other_stylesheets %}

{% block title %}Search Results | Inventory Database{% endblock title %}

{% block page-title %}
    <a href="{% url "inventory:items" %}" title="Click here to see all items.">
        Available Inventory
    </a>
     - Search Results for "{{ request.GET.q }}"
{% endblock page-title %}

{% block content %}
<div class="queries">
    <form action="{% url "inventory:search_items" %}" method="get">
        <input name="q" type="Text" placeholder="Search..." value="{{ request.GET.q }}" />
        <button type="submit">Search</button>
    </form>    
</div>

{% if results_list %}
<div class="grid">
    <div class="field-name">Manufacturer</div>
    <div class="field-name">Model</div>
    <div class="field-name">Part or Unit?</div>
    <div class="field-name">Part Number</div>
    <div class="field-name">Description</div>
    <div class="field-name">Location</div>
    <div class="field-name">Quantity</div>
    <div class="field-name">Unit Price</div>
    {% for result in results_list %}
    {% if forloop.counter|divisibleby:2 %}
    <a href="{% url 'inventory:item_detail' result.object.id %}">
        <div class="even">{{ result.object.manufacturer }}</div>
        <div class="even">{{ result.object.model }}</div>
        <div class="even">{{ result.object.part_or_unit }}</div>
        <div class="even">{{ result.object.part_number }}</div>
        <div class="even">{{ result.object.description }}</div>
        <div class="even">{{ result.object.location }}</div>
        <div class="even" 
            {% if result.object.low_stock %} 
            style="color: red; font-weight: bold;" 
            {% endif %} 
        >
            {{ result.object.quantity }}
        </div>
        <div class="even">{{ result.object.unit_price }}</div>
    </a>
    {% else %}
    <a href="{% url 'inventory:item_detail' result.object.id %}">
        <div class="odd">{{ result.object.manufacturer }}</div>
        <div class="odd">{{ result.object.model }}</div>
        <div class="odd">{{ result.object.part_or_unit }}</div>
        <div class="odd">{{ result.object.part_number }}</div>
        <div class="odd">{{ result.object.description }}</div>
        <div class="odd">{{ result.object.location }}</div>
        <div class="odd" 
            {% if result.object.low_stock %} 
            style="color: red; font-weight: bold;"
            {% endif %} 
        >
            {{ result.object.quantity }}
        </div>
        <div class="odd">{{ result.object.unit_price }}</div>
    </a>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<p>No items found.</p>
{% endif %}
{% endblock content %}