<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="https://hayesinstruments.com/HayesLogo.ico">
    <style>
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
    <title>Inventory Database | Page Not Found</title>
</head>

<body>
    <div class="header">
        <a href="{% url 'authentication:home' %}">
            <img class="image" height="94" width="532" src="https://hayesinstruments.com/images/HayesLetterhead.gif"
                alt="Hayes Instrument Service">
        </a>
    </div>
    <div class="content">
        <h1>
            Oops!
        </h1>
        <p>
            The page you requested couldn't be found.
        </p>
        {% if not request.user.is_authenticated %}
        <p>
            Are you <a href="{% url 'login' %}">logged in</a>?
        </p>
        {% endif %}
    </div>
</body>

</html>