<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="https://hayesinstruments.com/HayesLogo.ico">
    {% block stylesheet %}{% endblock stylesheet %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="header">
        {% block header %}
        {% endblock header %}
    </div>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>