<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="https://hayesinstruments.com/HayesLogo.ico" />
    <link rel="stylesheet" href="{% static "inventory_base.css" %}" />
    {% block other_stylesheets %}{% endblock other_stylesheets %}
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="header">

        <a href="{% url 'authentication:home' %}">
            <img class="image" height="94" width="532" src="https://hayesinstruments.com/images/HayesLetterhead.gif"
                alt="Hayes Instrument Service">
        </a>
        <div class="user">Hello, {{ request.user.username }}</div>
        {% block header %}
        {% endblock header %}
    </div>
    <div class="page-title">{% block page-title %}{% endblock page-title %}</div>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>