{% extends "base_template.html" %}

{% block title %}Inventory Database | Items{% endblock title %}

{% block content %}
<h1>
    Hello.
</h1>
<p>
    Inventory item details will be here.
</p>
{% if item %}
<table>
    <tr>
        <th>Manufacturer</th>
        <td>{{ item.manufacturer }}</td>
    </tr>
    <tr>
        <th>Model</th>
        <td>{{ item.model }}</td>
    </tr>
    <tr>
        <th>Part or Unit?</th>
        <td>{{ item.part_or_unit }}</td>
    </tr>
</table>
{% else %}
    No details are available.
{% endif %}

{% endblock content %}