{% extends "inventory_base_template.html" %}
{% load static %}

{% block other_stylesheets %}
{% comment %} <link rel="stylesheet" href="{% static "item_form.css" %}" /> {% endcomment %}
<link rel="stylesheet" href="{% static "item_request_form.css" %}" />
{% endblock other_stylesheets %}

{% block title %}{% endblock title %}

{% block page-title %}Item Request Form{% endblock page-title %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="buttons">
        <button type="button" onclick="window.location.href='{% url "inventory:item_detail" pk=item.pk %}'">Cancel</button>
        <input type="submit" value="Request Item">
    </div>
    <p>
        The button above should add the item(s) to a 'request' table
        and have an email sent to the admin(s)
    </p>
</form>
{% endblock content %}