{% extends "inventory_base_template.html" %}
{% load static %}

{% block other_stylesheets %}
    <link rel="stylesheet" href="{% static "item_detail.css" %}" />
{% endblock other_stylesheets %}

{% block title %} {{ item }} | Inventory Database {% endblock title %}

{% block page-title %} {{ item }} {% endblock page-title %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if item %}
    <table>
        <tr>
            <th>Manufacturer</th><td>{{ item.manufacturer }}</td>
        </tr>
        <tr>
            <th>Model</th><td>{{ item.model }}</td>
        </tr>
        <tr>
            <th>Part or Unit?</th><td>{{ item.part_or_unit }}</td>
        </tr>
        <tr>
            <th>Part Number</th><td>{{ item.part_number }}</td>
        </tr>
        <tr class="description">
            <th>Description</th><td>{{ item.description }}</td>
        </tr>
        <tr>
            <th>Location</th><td>{{ item.location }}</td>
        </tr>
        <tr {% if item.low_stock %} style="color: red;" title="This item is low in stock."{% endif %}>
            <th>Quantity</th><td>{{ item.quantity }}</td>
        </tr>
        <tr>
            <th>Min. Quantity</th><td>{{ item.min_quantity }}</td>
        </tr>
        <tr>
            <th>Unit Price</th><td>{{ item.unit_price }}</td>
        </tr>
    </table>
{% else %}
    No details are available.
{% endif %}

{% comment %} 
    The user group "viewer" is the lowest group in the hierarchy. 
    Viewers can only go back on the item-details page. 

    Since users must be logged in to see this page, we're going to assume they  
    at least have viewer permissions and allow the "back" button to be shown on 
    the page automatically.
{% endcomment %}
<div class="buttons">
    <button type="buttons" id="history" onclick="window.location.href='{% url "inventory:item_history" item.id %}'">
        History
    </button>
</div>
<div class="buttons">
    <button type="button" id="back" onclick="window.location.href='{% url "inventory:items" %}';">
        Back to Items
    </button>
    {% if user_group.name != None and user_group.name != 'Viewer' %}
    {% if user_group.name == 'Superuser' %} {# The current user is a Superuser #}
    <button type="button" id="update" onclick="window.location.href='{% url 'inventory:item_update_form_superuser' item.id %}';">
    {% elif user_group.name == 'Technician' %}  {# The current user is a Technician #}
    <button type="button" id="update" onclick="window.location.href='{% url 'inventory:item_update_form_technician' item.id %}';">
    {% else %} {# The current user is a Intern #}
    <button type="button" id="update" onclick="window.location.href='{% url 'inventory:item_update_form_intern' item.id %}';">
    {% endif %}    
        Update
    </button>
    {% endif %}
</div>

{# Technician / Superuser only buttons #}
{% if user_group.name == 'Technician' or user_group.name == 'Superuser' %}
<div class="buttons">
    <button type="button" id="use" 
        onclick="window.location.href='{% url "inventory:item_use_form" %}?item_id={{ item.id }}'" 
        {% if item.quantity == 0 %}disabled{% endif %}
    >
        Use
    </button>
    {# Technicians REQUEST more. Superusers ORDER more. #}
    {% if user_group.name == 'Superuser' %}
    <button type="button" id="order-more" 
        onclick="window.open('{% url "inventory:purchase_order_form" %}', '_blank')"
    >
        Order More
    </button>
    {% else %}
    <button type="button" id="order-more" 
        onclick="window.open('{% url "inventory:item_request_form" %}?item_id={{ item.id }}&manufacturer={{ item.manufacturer }}&model_part_num={{ item.model_part_num }}&description={{ item.description }}&unit_price={{ item.unit_price }}', '_blank')"
    >
    {# TODO: "Request More" functionality #}
        Request More (Coming Soon)
    </button>
    {% endif %}
</div>
<div class="buttons danger-zone">
    <button type="button" onclick="window.location.href='{% url "inventory:item_confirm_delete" item.id %}'">Delete</button>
</div>
{% endif %} 

{% endblock content %}
