/* This is the stylesheet for the Log In page */

/* Variables */


/* Element styles */

body {
    font-family: arial, sans-serif;     
}

fieldset {
    border: 0;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
}

form {
    background-color: rgb(80%, 80%, 80%);    
    width: 60vw;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    padding-top: 1em;
}

input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    height: 2em;
}


/* Class styles */

.page-title {
    font-size: 110%;
	font-weight: bold;
	text-align: center;
	padding-bottom: 1em;
}
