table, .buttons {
    margin: 0 auto;
    width: 75%;
    max-width: 900px;
}

table {
    background-color: rgb(238, 238, 238);
    border-collapse: collapse;
}

td {
    padding: 10px;
}

tr.status {
    border-bottom: 3px solid rgb(225, 225, 225);
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.buttons > button, input {
    width: 40%;
    height: 2em;
}

.buttons button[name="delete"] {
    border-color: red;
    background-color: rgba(255, 100, 100, 0.5);
}