body {
    font-family: arial, sans-serif;
}

div.header {
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
    align-items: center;    
}

div.user {
    background-color: pink;
}

div.page-title {
    font-size: 110%;
	font-weight: bold;
	text-align: center;
	padding-bottom: 1em;
}

div.grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(1em, auto));
    min-width: 600px;
    margin: 2em auto;
}

div.field-name {
    font-weight: bold;
}

div.odd {
    background-color: rgb(238, 238, 238);
}

a {
    display: contents;
    color: black;
}

a:hover {
    color: red;
}



