table, .button-container {
    margin: 0 auto;
    width: 85%;
}

.button-container {
    max-width: 900px;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.button-container > button, input {
    width: 40%;
    height: 2em;
}

table {
    border-spacing: 10px;
}

tr th {
    text-align: left;
}

tr td {
    border-top: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.action {
    width: 7%;
}

.timestamp {
    width: 20%;
}