{% extends "authentication_base_template.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet"  type="text/css" href="{% static 'login.css' %}" />
{% endblock stylesheet %}

{% block title %}
Login | Inventory Database
{% endblock title %}



{% block content %}
<div class="page-title">Inventory Database</div>
<p>Please log in to see the database.</p>
<form method="post"> {% csrf_token %} 

    <fieldset>
        {% if messages %}
        <p style="text-align: center; font-weight: bold;">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </p>
        {% endif %}
        <label for="username">
        Username <input type="text" id="username" name="username" placeholder="username" required />
        </label>
        <label for="password">
        Password <input type="password" id="password" name="password" placeholder="password" required />
        </label>
    </fieldset>
    <input type="submit" value="Log In">

    

</form>

<p>Forgot password? (Coming Soon)</p>
{% endblock %}