{% extends "master.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet"  type="text/css" href="{% static 'login.css?v=1' %}" />
{% endblock stylesheet %}

{% block title %}
Inventory Database | Login
{% endblock %}



{% block content %}
<div>
    <img class="image" height="94" width="532" src="https://hayesinstruments.com/images/HayesLetterhead.gif"
        alt="Hayes Instrument Service">
</div>
<div class="page-title">Inventory Database</div>
<form method="post"> {% csrf_token %} 

    <fieldset>
        {% if messages %}
        <p style="text-align: center; font-weight: bold;">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </p>
        {% endif %}
        <label for="username">
        Username <input type="text" id="username" name="username" placeholder="username" required />
        </label>
        <label for="password">
        Password <input type="password" id="password" name="password" placeholder="password" required />
        </label>
    </fieldset>
    <input type="submit" value="Log In">

</form>
{% endblock %}